
//传多个参数值宽，高
@mixin size($width,$height){
  width: $width;
  height: $height;
}
//基本字体
@mixin font{
    font:{size:0.26rem;};
    color:#333;
}
//主色调
$act:#FE585C;
//副色调
$vice:#333333;
//宽
@mixin wid($wid){
    width: $wid;
}
//宽
@mixin hei{
    width: 1.17rem;
}
header .search i{
    font-size: 0.30rem;
    color: #666666;
    vertical-align: middle;
}

    

