<template>
   <div class="page">
        <Table @on-selection-change='sel' border ref="selection" :columns="tables.columns4" :data="tables.data1" height="480"></Table>
        <Button @click="handleSelectAll(true)">Set all selected</Button>
        <Button @click="handleSelectAll(false)">Cancel all selected</Button>
   </div>
</template>

<script type="text/ecmascript-6">
import { mapActions } from 'vuex'
   export default {
        data() {
            return {
                tables:{},
            }
        },
        methods: {
            handleSelectAll (status) {
                this.$refs.selection.selectAll(status);
            },
            sel(num){
                console.log(num)
                this.$store.commit('b/changenum',num.length);
                this.$store.dispatch('changename')
            }
        },
        mounted(){
            var that = this;
            this.$ajax._get(this.$global.iviewUrl,function(res){
                if(res.status == 200){
                    that.tables = res.data.iview;
                }
            })
            this.$store.commit('b/changenum','0')
        }
    }
</script>

<style scoped>
</style>
