<template>
   <div class="page">
     {{num}}<br/>
     {{name}}<br/>
     <!--{{age}}<br/>-->
     <!--{{sex}}<br/>-->


   </div>
</template>


<script>
   import mixins from '../Mixins/iview';
   export default {
     mixins: [mixins],
        data() {
            return {

            }
        },
    }
</script>

<style scoped>

</style>
