<template>
	<div class="car">
		<ul>
			<li>
				<div class="list_left">
					<i class="iconfont icon-checkbox_n"></i>
					<img src="../../assets/list_01.png" />
				</div>
				<div class="list_right">
					<h3>A0240 办公室抱枕</h3>
					<div class="right_up">
						<span>￥120.00</span>
						<form>
							<button class="reduce" type="button" @click="num=reduce">-</button>
							<input type="text" maxlength="3" placeholder="1" v-model="num"/>
							<button class="add" type="button" @click="num=add">+</button>
						</form>
						<img class="del" src="../../assets/shop_car_del.png"/>
					</div>
				</div>
			</li>
		</ul>
	</div>
</template>

<script>
	export default{
		porps:['carList'],
		data(){
			return {
				num:1
			}
		},
		computed:{
			reduce:function(){
				var reduce = this.num;
				if(reduce>1){
					reduce--
				}
				return reduce;
			},
			add:function(){
				var add = this.num;
				if(add<100){
					add++
				}
				return add;
			}
		}
	}
</script>

<style scoped="scoped" lang="scss">
$act:#fe585c;
$vice:#333;
.car li{
	box-sizing: border-box;
	width: 100%;
    padding: 0.30rem;
    border-bottom: 0.10rem solid #F2F2F2;
    .list_left{
    	width: 34%;
    	display: inline-block;
    	i{
    		font-size: 0.50rem;
    		color: #999999;
    	}
    	img{
    		width: 77%;
    		vertical-align: middle;
    	}
    }
    .list_right{
    	display: inline-block;
    	width: 62%;
    	vertical-align: top;
    	h3{
		    font-size: 0.40rem;
		    color: $vice;
		    margin-top: 0.13rem;
    	}
    	.right_up{
    		width: 100%;
    		margin-top: 0.73rem;
    		span{
    			font-size: 0.34rem;
    			color: $act;
    		}
    		form{
    			width: 52%;
    			text-align: center;
    			display: inline-block;
    			button{
    				width: 20%;
    				height: 0.63rem;
    				color: #999;
    				border: 1px solid #E5E5E5;
    				background:none;
    			}
    			button.reduce{
    				margin-right: -0.22rem;
    			}
    			button.add{
    				margin-left: -0.22rem;
    			}
    			input{
    				@extend button;
    				width: 36%;
    				height: 0.58rem;
    				text-align: center;
    				color: $vice;
    				border-left: none;
    				border-right: none;
    			}
    		}
    		img{
    			width: 10%;
    			float: right;
    			margin-top: 0.13rem;
    		}
    	}
    }
}
.car li:last-child{
	border: none;
}

</style>