<template>
	<div class="car_love">
		<h3>{{carLove.h3}}</h3>
		<i></i>
		<div class="love_list">
			<ul>
				<li v-for="item in carLove.images">
					<img v-lazy='item.img'/>
				</li>
			</ul>
		</div>	
	</div>
</template>

<script>
	export default{
		props:['carLove'],
		data(){
			return {
				
			}
		}
		
	}
</script>

<style scoped="scoped" lang="scss">
.car_love {
	width: 100%;
	background: #F2F2F2;
	text-align: center;
	padding-bottom: 0.10rem;
}

.car_love h3 {
	padding: 0 0.10rem;
	font-size: 0.24rem;
	color: #666666;
	display: inline;
	background: #F2F2F2;
}

.car_love i {
	display: inline-block;
	margin-top: -0.28rem;
	float: left;
	width: 100%;
	height: 1px;
	background: #d5d5d5;
}

.car_love .love_list {
	width: 94%;
	margin: 0 auto;
	clear: both;
	overflow: hidden;
}

.car_love .love_list ul {
	width: 100%;
	margin-left: -1.5%;
}

.car_love .love_list li {
	width: 47%;
	margin-left: 3%;
	float: left;
	margin-top: 0.25rem;
}

.car_love .love_list li img {
	width: 100%;
}

</style>