<template>
   <div class="page">
       render
   </div>
</template>

<script>
   export default {
       name: '',
       components: {
       },
       data() {
           return {

           }
       }
   }
</script>

<style scoped lang='less'>
</style>
