<template>
  <div class="brand">
    <header>
    	<i class="iconfont icon-fanhui1"></i>
    	<search :search="search"></search>
    </header>
    <div class="content">
    	<nav-tab :navtab="navtabData"></nav-tab>
    </div>
  </div>
</template>

<script>
	import search from "../module/brand/search";
	import navtab from "../module/brand/navtab";
	export default {
	  name: 'brand',
	  data () {
	    return {
	      	search:{
	      		name:"抱枕"
	      	},
	      	navtabData:{
	      		selected:'1',
	      		nav:["品类","品牌"],
	      		pic_content:{
	      			h3:"舒适家居抱枕",
	      			span:"查看全部"
	      		}
	      	}
	    }
	  },
	  mounted(){
	  	//显示脚部
  		this.$parent.footer = true;
	  },
	  components:{
	  	search:search,
	  	navTab:navtab
	  }
	}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
@import url("../css/brand/brand");
</style>
