<template>
  <div class="index">
    <header>
    	<img src="../assets/home_pic_search.png"/>
    	<img src="../assets/home_head_world.png"/>
    	<img src="../assets/home_home.png"/>
    </header>
    <div class="container">
    	<!--轮播-->
    	<h-banner></h-banner>
			<!--活动栏-->
			<h-navlist :navlist="list"></h-navlist>
			<!--倒计时-->
			<div class="down_time">
					<p>抢购<i>:</i><span id="house">00</span><i>:</i><span id="points">58</span><i>:</i><span id="seconds">12</span></p>
			</div>
			<!--nav轮播-->
			<nav-banner></nav-banner>
			<!--展示图-->
			<div class="pic">
				<router-link to='/iview/1-1'><img src="../assets/home_ban2_up.png" width="100%" ui-sref="pro_details"/></router-link>
			</div>
			<!--商品列表-->
			<div class="produce">
				<h3>分类直达</h3>
				<i></i>
				<ul class="shop">
					<li v-for="(item,index) in shopList" :key="index">
						<router-link to="/pro_list">
							<img alt=""  v-lazy="item.img"/>
							<div class="box"></div>
							<div class="detail">
								<h4>{{item.text_h4}}</h4>
								<p>{{item.text_p}}</p>
							</div>
						</router-link>
					</li>
				</ul>
			</div>
			<!--没有数据-->

			<end></end>
    </div>
  </div>
</template>

<script>
	import end from "../module/h_loader";
	import hbanner from "../module/h_banner01";
	import navbanner from "../module/h_navbanner";
	import navlist from "../module/h_navlist";
  const IP = require('ip');
  const IPAddress = IP.address();
export default {
  name: 'home',
  data () {
    return {
        shopList: [
        	{img:require("../assets/home_ban2_01.jpg"),text_h4:"家用厨具",text_p:"全场满199减100"},
        	{img:require("../assets/home_beg.jpg"),text_h4:"床上用品",text_p:"全场满199减100"},
        	{img:require("../assets/home_beg1.jpg"),text_h4:"家用餐具",text_p:"全场满199减100"},
        	{img:require("../assets/home_min.jpg"),text_h4:"装饰小件",text_p:"全场满199减100"}
        ],
        list:[
        	{img:require("../assets/home_member.png"),word:"会员"},
        	{img:require("../assets/home_maney.png"),word:"钱包"},
        	{img:require("../assets/home_play.png"),word:"活动"},
        	{img:require("../assets/home_signup.png"),word:"签到"}
        ]
    }
  },
  methods:{

  },
  mounted(){
  	//显示脚部
  	this.$parent.footer = true;
    console.log(IPAddress)
  },
  components:{
  	end:end,
  	hBanner:hbanner,
  	navBanner:navbanner,
  	hNavlist:navlist
  }
}
</script>

<style scoped>
@import url("../css/home.css");
</style>
