<template>
	<div class="person">
		<per-top :perTop='perTop'></per-top>
		<per-List :list='list'></per-List>
	</div>
</template>

<script>
	import perTop from '../module/person/perTop';
	import list from '../module/list';
	
	export default{
		name:"person",
		data(){
			return{
				perTop:{
					bg:require('../assets/user_bg.png'),
					per_img:require('../assets/user_icon.png')
				},
				list:[
					{img:require('../assets/user_pic1.png'),span:"render", url: '/render'},
					{img:require('../assets/user_pic2.png'),span:"消息", url: '/render'},
					{img:require('../assets/user_pic3.png'),span:"我的订单", url: '/render'},
					{img:require('../assets/user_pic4.png'),span:"我的收藏", url: '/render'},
					{img:require('../assets/user_pic5.png'),span:"收货地址", url: '/render'},
					{img:require('../assets/user_pic6.png'),span:"修改资料", url: '/render'},
					{img:require('../assets/user_pic7.png'),span:"客服中心", url: '/render'},
				]
					
				
			}
		},
		mounted(){
		  	//显示脚部
	  		this.$parent.footer = true;
		},
		components:{
			perTop:perTop,
			perList:list
		}
	}
</script>


<style scoped="scoped">
.person{
	padding-bottom: 1.06rem;
}
.list li:nth-child(2){
	border-bottom: 0.20rem solid #F2F2F2;
}
.list li:nth-child(5){
	border-bottom: 0.20rem solid #F2F2F2;
}
</style>