<template>
	<div class="pro_list">
		<header>
			<router-link to='/index'>
				<i class="iconfont icon-fanhui1"></i>
			</router-link>
	    	<search :search="search"></search>
	    </header>
	</div>
</template>

<script>
	import search from '../module/brand/search';
	export default {
		name:'pro_list',
		data(){
			return {
				search:{
					name:"抱枕"
				}
			}
		},
		mounted(){
			//隐藏脚部
			this.$parent.footer = false;
		},
		components:{
			search:search
		}
		
	}
</script>

<style>
</style>