<template>
	<div class="shopCar">
		<car-header :header='header'></car-header>
		<div class="car_top">
			<img src="../assets/home_head_world.png" />
		</div>
		<car-list :carList='carList'></car-list>
		<!--like-->
		<car-love :carLove='carLove'></car-love>
	</div>
</template>

<script>
	import carHeader from '../module/header';
	import carList from '../module/shopCar/carList';
	import carLove from '../module/shopCar/carLove';
	export default {
		name:'shopCar',
		data(){
			return{
				header:{
					h2:"购物车",
					span:"编辑",
				},
				carList:{
					
				},
				carLove:{
					h3:"您可能感兴趣的商品",
					images:[
						{img:require('../assets/home_beg.png')},
						{img:require('../assets/home_beg1.png')},
						{img:require('../assets/home_min.png')},
						{img:require('../assets/home_use.png')},
					]
				}
			}
		},
		mounted(){
		  	//显示脚部
	  		this.$parent.footer = true;
		},
		components:{
			carHeader:carHeader,
			carList:carList,
			carLove:carLove,
		}
		
	}
</script>

<style scoped="scoped" lang="scss">
$bg_col:#F2F2F2;
.car_top{
	width: 100%;
	padding: 3% 6%;
	background: $bg_col;
	display: flex;
	align-items: center;
}
.car_top img{
	width: 25%;
}
</style>