*{
	margin: 0;
	padding: 0;
}

ul,li{
	list-style: none;
}
a{
	text-decoration: none;
}
input,button{
	outline: none;
}
div{
	box-sizing: border-box;
}
header{
	box-sizing: border-box;
	width: 100%;
	height: 1.17rem;
	padding: 0 4%;
	border-bottom: 1px solid #e5e5e5;
}









