header{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.26rem 0.4rem;
	box-sizing: border-box;
}
header img{
	width: 8%;
}
header img:nth-child(2){
	width: 28%;
}

.container{
	width: 100%;
	margin-bottom: 1.50rem;
}


.down_time {
    width: 100%;
    margin-top: 0.28rem;
    background: #f9faf9;
    padding-top: 0.20rem;
    padding-bottom: 0.20rem;
}
.down_time p {
    font-size: 0.26rem;
    font-family: "宋体";
    color: #333333;
    margin-left: 0.30rem;
}
.down_time p i {
    color: #fa565a;
    margin: 0 0.04rem;
}
.down_time p span {
    font-size: 0.26rem;
    font-family: "宋体";
    color: #fa565a;
    padding: 2px 4px;
    border: 1px solid #999999;
}

.pic {
    width: 100%;
    margin-top: 0.20rem;
}
.produce{
	width: 92%;
    margin: 0 4%;
}
.produce h3{
    background: #fff;
    z-index: 2;
    margin-bottom: 0.12rem;
    margin-left: 43%;
    padding: 0 0.10rem;
    display: inline-block;
    font-size: 0.26rem;
    color: #333;
    font-weight: bold;
}
.produce i{
    display: block;
    margin-top: -0.30rem;
    background: #999;
    height: 1px;
}
.produce .shop{
	width: 100%;
	margin-top: 0.56rem;
	overflow: hidden;
}
.produce .shop li{
	width: 47%;
	position: relative;
	float: left;
	margin-bottom: 0.26rem;
	font-size: 0;
}
.produce .shop li:nth-child(even){
	margin-left: 6%;
}
.produce .shop li img{
	width: 100%;
	height: 100%;
}
.produce .shop li .box{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #000;
    opacity: 0.3;
}
.produce .shop li .detail{
	position: absolute;
    bottom: 0;
    left: 0.44rem;
    width: 80%;
}
.produce .shop li .detail h4 {
    font-size: 0.24rem;
    color: #fff;
    margin: 0.15rem 0;
    text-align: center;
}
.produce .shop li .detail p {
    font-size: 0.24rem;
    color: #fff;
    border-top: 1px solid #fff;
    padding-top: 0.10rem;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 0.15rem;
    text-align: center;
    
}
.produce .shop li:nth-child(1) .detail {
    background: rgba(77,159,194,0.8);
}
.produce .shop li:nth-child(2) .detail {
    background: rgba(219,142,52,0.8);
}
.produce .shop li:nth-child(3) .detail {
    background: rgba(228,94,94,0.8);
}
.produce .shop li:nth-child(4) .detail {
    background: rgba(85,188,99,0.8);
}












