<template>
	<div class="navtab">
		<mt-navbar v-model="navtab.selected">
		  <mt-tab-item id="1">{{navtab.nav[0]}}</mt-tab-item>
		  <mt-tab-item id="2">{{navtab.nav[1]}}</mt-tab-item>
		</mt-navbar>
		
		<mt-tab-container v-model="navtab.selected" class="nav_content">
			<mt-tab-container-item id="1" class="navfirst">
			  	<div class="pic_top">
					<img v-lazy='pic_top'>
					<div class="pic_tg">
						<div class="pic_content">
							<h3>{{navtab.pic_content.h3}}</h3>
							<p>bolster</p>
							<span ui-sref="pro_list">{{navtab.pic_content.span}} ></span>
						</div>	
					</div>	
				</div>
				<navlist :navlist="list"></navlist>
				<div class="pic_up">
					<img v-lazy='pic_up'>
					<div class="box"></div>
				</div>
			</mt-tab-container-item>
			<mt-tab-container-item id="2" class="navtwo">
			  	<p>品牌类型内容</p>
			</mt-tab-container-item>
		</mt-tab-container>
	</div>
</template>

<script>
	import navlist from "../h_navlist";
	export default{
		props:['navtab'],
		name:"navtab",
		data(){
			return{
				pic_top:require("../../assets/cate_pic01.png"),
				pic_up:require("../../assets/cate_pic02.png"),
				list:[
		        	{img:require("../../assets/cate_list01.png"),word:"简约抱枕"},
		        	{img:require("../../assets/cate_list02.png"),word:"创意抱枕"},
		        	{img:require("../../assets/cate_list03.png"),word:"卡通抱枕"},
		        	{img:require("../../assets/cate_list04.png"),word:"欧式抱枕"},
		        	{img:require("../../assets/cate_list01.png"),word:"简约抱枕"},
		        	{img:require("../../assets/cate_list02.png"),word:"创意抱枕"},
		        	{img:require("../../assets/cate_list03.png"),word:"欧式抱枕"},
		        	{img:require("../../assets/cate_list04.png"),word:"卡通抱枕"}
		        ]
			}
		},
		components:{
			navlist:navlist,
		}
	}
</script>

<style lang="scss">
/*模板样式*/
$act:#FE585C;
$vice:#333333;
.mint-navbar .mint-tab-item{
	color: $vice;
	padding:10px 0;
	.mint-tab-item-label{
		font: 0.40rem "微软雅黑";
	}
}

.mint-navbar .mint-tab-item.is-selected{
	color: $act !important;
	border-bottom: 2px solid $act !important;
}
	
/*banner页面样式*/
.nav_content{margin-top: 3px;box-sizing: border-box;}
.navfirst .pic_top{width: 100%;position: relative;}
.navfirst .pic_top img{width: 100%;height: 100%;}
.navfirst .pic_top .pic_tg{position: absolute;top: 0;left: 0;right: 0;bottom: 0;background: rgba(0,0,0,0.5);z-index: 12;}
.navfirst .pic_top .pic_tg .pic_content{width: 60%;margin: 14% auto;text-align: center;}
.navfirst .pic_top .pic_tg .pic_content h3{font-size: 0.30rem;color: #FFFFFF;letter-spacing: 2px;}
.navfirst .pic_top .pic_tg .pic_content p{font-size: 0.24rem;color: #FFFFFF;}
.navfirst .pic_top .pic_tg .pic_content span{margin-top: 0.20rem;background: #000;padding: 8px 14px; font-size: 0.24rem;color: #FFFFFF;}
/*使用到的模板样式*/
.navfirst .activity{
	width: 98%;
	margin-left: 0.7%;
}
.navfirst .activity li{
	position: relative;
	box-sizing: border-box;
	width: 24%;
	height: 3.0rem;
	margin-left: 1%;
	border: 1px solid #f2f2f2;
	margin-bottom: 0.26rem;
}
.navfirst .activity li img{
	width: 68%;
	margin: 0.20rem 0;
}
.navfirst .activity li p{
	position: absolute;
    bottom: 14px;
    left: 0.50rem;
    font-size: 0.26rem;
    color: #333333;
}
/*upper页面样式*/
.navfirst .pic_up{width: 100%;position: relative;clear: both;overflow: hidden;margin-bottom: 1.0rem;}
.navfirst .pic_up img{width: 100%;}
.navfirst .pic_up .box{position: absolute;top: 0;left: 0;right: 0;bottom: 0;background: rgba(0,0,0,0.5);z-index: 7;}

.nav_content .navtwo p{
	font-size: 0.36rem;
}
 
</style>