<template>
	<div class="search">
		<label>
			<i class="iconfont icon-search"></i>
			<input type="text" :placeholder="search.name"/>
		</label>
	</div>
</template>

<script>
	export default{
		props:['search']
	}
</script>

<style scoped="scoped">
	
header .search{
    display: inline-block;
    width: 85%;
    margin-top: 0.17rem;
}

header .search label{
    width: 100%;
    height: 30px;
    padding: 0.04rem 0;
    margin: 0.14rem 0 0 0.36rem;
    background: #f2f2f2;
    border-radius: 8px;
    padding-bottom: 0.14rem;
}
header .search label i{
    font-size: 0.26rem;
    margin-left: 0.20rem;
    color: #b0a2a2;
}
header .search label input{
    width: 80%;
    margin-left: 0.12rem;
    padding: 0;
    font-size: 0.24rem;
    border: none;
    background: none;
    color: #666;
} 
</style>