<template>
  <div id="app">
  	<div v-wechat-title="$route.meta.title"></div>
    <router-view/>
    <mt-tabbar v-model="selected" class="footer" v-show='footer'>
			<mt-tab-item :id="item.id" v-for="(item,index) in footer_arr" :key="index" >
    		<router-link class="butto home_butto" :to="item.to" >
    			<div @click="changeState(item,index)">
    				<img slot="icon" :src="item.id==is_selected?item.tab_img:item.img">
    				<p>{{item.name}}</p>
    			</div>
    		</router-link>
    	</mt-tab-item>
    </mt-tabbar>
  </div>
</template>

<script>
	
export default {
  name: 'App',
  data(){
  	return{
  		selected:0,
  		is_selected:0,
  		footer:true,
  		footer_arr:[
  			{id:0,img:require("../src/assets/fonter_01.png"),tab_img:require("../src/assets/footer_012.png"),name:"首页",to:"/index"},
  			{id:1,img:require("../src/assets/footer_02.png"),tab_img:require("../src/assets/footer_022.png"),name:"分类",to:"/brand"},
  			{id:2,img:require("../src/assets/footer_03.png"),tab_img:require("../src/assets/fonter_032.png"),name:"购物车",to:"/shopCar"},
  			{id:3,img:require("../src/assets/footer_04.png"),tab_img:require("../src/assets/fonter_042.png"),name:"我的",to:"/person"}
  		]
  	}
  },
  methods:{
  	changeState:function(item,index){
  		this.is_selected = item.id;
  	}
  },
	created() {
	  var act = this.$route.meta.rout;
		switch(act){
			case 'index':
				this.selected = 0;
				this.is_selected = 0;
				this.footer = true;
				break;
			case 'brand':
				this.selected = 1;
				this.is_selected = 1;
				this.footer = true;
				break;
			case 'shopCar':
				this.selected = 2;
				this.is_selected = 2;
				this.footer = true;
				break;
			case 'person':
				this.selected = 3;
				this.is_selected = 3;
				this.footer = true;
				break;
			default:
				break;
		}
	}
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  transform: none;
}
.footer{
	position: fixed !important;
	z-index: 11;
}
.footer .mint-tab-item{
	padding: 4px 0;
}
.footer .mint-tab-item img{
	  width: 0.5rem;
    height: 0.5rem;
}
.footer .mint-tab-item p{
	font-size: 0.26rem;
	color: #333;
	margin-top: 0.08rem;
}
.footer .is-selected p{
	color: #fa565a;
	
}
.mint-tabbar > .mint-tab-item.is-selected{
	background: none !important;
}
</style>
