<template>
	<div class="banner">
		<swiper :options="swiperOption">
		    <swiper-slide v-for="slide in swiperSlides" :key="this" class="ban">
		    	<img :src="slide.img" />
		    </swiper-slide>
		    <div class="swiper-pagination" slot="pagination"></div>
		  </swiper>
	</div>
</template>

<script>
	export default {
		name:'banner01',
		data(){
			return {
				swiperOption: {
    			loop:true,
		          autoplay: {
		          	autoplay:true,
		          	disableOnInteraction: false,
		          },
		          pagination: {
				    el: '.swiper-pagination',
				  },
		        },
		        swiperSlides: [
		        	{img:require("../assets/banner1.jpg")},
		        	{img:require("../assets/banner2.jpg")},
		        	{img:require("../assets/banner3.jpg")}
		        ]
			}
		}
	}
</script>

<style>
.container .banner{
	width: 100%;
}
.container .banner img{
	width: 100%;
}
</style>