<template>
	<div class="end">
		<p>数据加载完毕...</p>
	</div>
</template>

<script>
</script>

<style>
.end{
	width: 92%;
	margin: 0 auto;
}
.end p{
	width: 100%;
	text-align: center;
	color: #FFFFFF;
	font-size: 0.24rem;
	background: #ff8989;
	padding: 0.06rem 0;
}

</style>