<template>
	<div class="pillow">
		<swiper :options="swiperOption">
	    <swiper-slide v-for="slide in pillowSlides" :key="this" class="ban">
	    	<img :src="slide.img" />
	    </swiper-slide>
	    <div class="swiper-pagination" slot="pagination"></div>
	  </swiper>
	</div>
</template>

<script>
	export default {
		name:"navBanner",
		data(){
			return {
				swiperOption: {
		    		loop:true,
			        autoplay: {
			          	autoplay:true,
			          	disableOnInteraction: false,
			        },
		          	pagination: {
				    	el: '.swiper-pagination',
				    },
		       	},
		       	pillowSlides: [
		        	{img:require("../assets/home_ban2_01.jpg")},
		        	{img:require("../assets/home_beg.jpg")},
		        	{img:require("../assets/home_beg1.jpg")},
		        	{img:require("../assets/home_min.jpg")},
		        	{img:require("../assets/home_use.jpg")}
		        ]
			}
		}
	}
</script>

<style>
.pillow{
	width: 100%;
}
.pillow img{
	width: 100%;
}
</style>