<template>
	<ul class="activity">
		<li v-for="item in navlist" :key="this">
			<img v-lazy='item.img'/> 
			<p>{{item.word}}</p>
		</li>
	</ul>
</template>

<script>
	export default {
		props:['navlist'],
		name:"list",
		data(){
			return {
				
			}
		}
	}
</script>

<style>
.activity{
	width: 100%;
	margin: 0.26rem 0;
	overflow: hidden;
}
.activity li{
	width: 25%;
	float: left;
	text-align: center;
}
.activity li img{
	width: 46%;
	margin: 0 auto;
}
.activity li p{
	font-size: 0.24rem;
}
</style>