<template>
	<header>
		<i class="iconfont icon-fanhui1"></i>
		<h2>{{header.h2}}</h2>
		<span>{{header.span}}</span>
	</header>
</template>

<script>
	export default {
		props:['header'],
		data(){
			return{
				
			}
		}
	}
</script>

<style scoped="scoped">

header{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
header h2{
	font: 0.45rem "微软雅黑";
	color: #666;
}
header span{
	font: 0.42rem "微软雅黑";
	color: #666;
}
</style>