<template>
	<div class="list">
		<ul>
			<li v-for="item in list" :key='item.id' :to='item.url'>
				<div class="left">
					<img v-lazy='item.img'/>
					<span>{{item.span}}</span>
				</div>
				<div class="right">
					<i class="iconfont icon-more"></i>
				</div>
			</li>
		</ul>
	</div>
</template>

<script>
	export default {
		props:['list'],
		data(){
			return{
				
			}
		}
	}
</script>

<style scoped="scoped" lang="scss">
li{
	width: 92%;
	height: 1.44rem;
	padding:0 0.4rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 2px solid #F2F2F2;
	.left{
		width: 50%;
		img{
			width: 11%;
			vertical-align: middle;
			margin-left: 0.26rem;
		}
		span{
			font-size: 0.42rem;
		    color: #666;
		    margin-left: 0.20rem;
		}
	}
}

</style>