<template>
	<div class="per_top">
		<img class="bg" :src="perTop.bg">
		<img class="per_img" :src="perTop.per_img">
	</div>
</template>

<script>
	export default {
		props:['perTop'],
		data(){
			return {
				
			}
		}
	}
</script>

<style scoped="scoped" lang="scss">
	.per_top{
		position: relative;
		width: 100%;
		background: #F2F2F2;
		padding-bottom: 0.88rem;
		img.bg{
			width: 100%;
		}
		img.per_img{
			border: 2px solid #fff;
		    border-radius: 50%;
		    position: absolute;
		    bottom: 0.23rem;
		    left: 4.20rem;
		    width: 18%;
		}
	}
	
</style>